<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="./css/cvproject2.css" />
</head>

<body>
    <header class="bunnytop1">
        <div class="bunnytop">First Last</div>
        <div class="bunny1">
            <div class="bunny">
                <ul>
                    <li><img src="./images/phone-call.png"><span>XXX-XXX-XXXX</span></li>
                    <li><img src="./images/mail.png"><span><a href="https://contacts.google.com/other">
                                Firstlast@gmail.com</a></span></li>
                    <li><img src="./images/linkedin-logo.png"><span><a href="https://contacts.google.com/other">
                                linkedin.com/firstlast</a></span></li>
                    <li><img src="./images/github.png"><span><a
                                href="https://contacts.google.com/other">github.com/firstlast</a></span></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="eju">
            <div class="container">
                <h1>Education</h1>
                <div class="landr">
                    <div class="headding">University Name</div>
                    <div class="is">Expected May 20XX</div>
                </div>
                <div class="landr">
                    <div class="weightage">Bachelor of Science in Computer Science(GPA: 4.00/4.00)</div>
                    <div>City, State</div>
                </div>
                <ul class="list">
                    <li><strong style="font-weight: 600;">Relevant Coursework: </strong> Data Structures and Algorithms
                        (C++), Prob & Stat in CS(Python), Intro to CS || (C++), Linear
                        Algebra w/Computational Applications (Python)</li>
                </ul>
            </div>
        </section>
        <section class="exu">
            <div class="container">
                <h1>Experience</h1>
                <div class="landr">
                    <div class="headding">Company Name 1</div>
                    <div class="is">Jan 20XX - May 20XX</div>
                </div>
                <div class="landr">
                    <div class="weightage">Software Engineer</div>
                    <div>City, State</div>
                </div>
                <ul class="list">
                    <li>Implemented microservices architecture using Node.js and Express, improving API response time by
                        25% and reducing
                        server load by 30%.</li>
                    <li>Led a cross-functional team in implementing a new feature using React and Redux, resulting in a
                        20% increase in user
                        engagement within the first month.</li>
                    <li>Optimized MySQL database queries, reducing page load times by 15% and enhancing overall
                        application performance.</li>
                </ul>
            </div>
            <section class="comp2">
                <div class="container">
                    <div class="landr">
                        <div class="headding">Company Name 2</div>
                        <div class="is">May 20XX - Aug 20XX</div>
                    </div>
                    <div class="landr">
                        <div class="weightage">Software Engineer Intern</div>
                        <div>City, State</div>
                    </div>
                    <ul class="list">
                        <li>Designed and implemented responsive user interfaces with Angular, leading to a 15%
                            improvement in
                            user satisfaction
                            scores.</li>
                        <li>Introduced automated testing processes with Jest and Enzyme, increasing test coverage by 30%
                            and
                            reducing post-release
                            defects by 25%.</li>
                        <li>Contributed to the adoption of agile methodologies, utilizing Jira and Confluence, improving
                            team
                            productivity by 15%
                            through iterative development cycles.</li>
                    </ul>
                </div>
            </section>

            <section class="prjje">
                <div class="container">
                    <h1>Projects</h1>
                    <div class="landr">
                        <div class="weightage"><strong style="font-weight: 600;">Project Name 1</strong> React.js,
                            Angular, Vue.js, Django, Flask, Ruby on Rails
                        </div>
                    </div>
                    <ul class="list">
                        <li>Led the development of a microservices-based e-commerce platform using Node.js, resulting in
                            a 40% increase in daily
                            transactions within the first quarter.</li>
                        <li>Designed and deployed a scalable RESTful API using Django and Django REST Framework,
                            achieving a 30% improvement in
                            data retrieval speed.</li>
                        <li>Implemented a real-time chat feature using WebSocket and Socket.io, enhancing user
                            engagement and reducing response
                            time by 20%.</li>
                    </ul>
                </div>
            </section>
            <section class="prjje2">
                <div class="container">
                    <div class="weightage"><strong style="font-weight: 600;">Project Name 2</strong>| Spring Boot,
                        Express.js, TensorFlow, PyTorch, jQuery,
                        Bootstrap
                    </div>
                    <ul class="list">
                        <li>Developed a data visualization dashboard using D3.js, providing stakeholders with real-time
                            insights and improving
                            decision-making processes.</li>
                        <li>Built a CI/CD pipeline using Jenkins and Docker, reducing deployment time by 40% and
                            ensuring
                            consistent and reliable
                            releases.</li>
                    </ul>
                </div>
            </section>
            <section class="3">
                <div class="container">
                    <div class="weightage"><strong style="font-weight: 600;">Project Name 3 |</strong>Python, Flask,
                        Jinja2, Firebase, Bootstrap</div>
                    <ul class="list">
                        <li>Contributed to an open-source project on GitHub, collaborating with a global community
                            and achieving 500+ stars and 50
                            forks..</li>
                        <li>Implemented automated testing for a critical module using Selenium, reducing regression
                            bugs by 30% and ensuring a
                            more stable release cycle.</li>
                        <li>Implemented a real-time chat feature using WebSocket and Socket.io, enhancing user
                            engagement and reducing response
                            time by 20%.</li>
                    </ul>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <section class="skkll">
            <div class="containerlast">
                <div>
                    <h1>Technical Skills</h1>
                    <div class="marginbb"><b>Languages: </b>Rust, Kotlin, Swift, Go, Scala, TypeScript, R, Perl,
                        Haskell, Groovy, Julia,
                        Dart</div>
                    <div class="marginbb"><b>Technologies: </b>React.js, Angular, Vue.js, Django, Flask, Ruby on Rails,
                        Spring Boot,
                        Express.js, TensorFlow,
                        PyTorch,
                        jQuery, Bootstrap, Laravel, Flask, ASP.NET, Node.js, Electron, Android SDK, iOS SDK,
                        Symfony</div>
                    <div class="marginbb"><b>Concepts: </b>Compiler, Operating System, Virtual Memory, Cache Memory,
                        Encryption, Decryption,
                        Artificial
                        Intelligence,
                        Machine Learning, Neural Networks, API, Database Normalization, Agile Methodology, Cloud
                        Computing</div>
                </div>
            </div>
        </section>
    </footer>
</body>

</html>